<h1>{{title}}</h1>
<form action="display: grid;width:50%" onload="CargarSelects()">
    <label for="">Descripción</label> <br>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10" maxlength="150"></textarea> <br> <br>
    <label for="">Precio de Compra</label>
    <input type= "decimal" id="preciocompra" name="precio de compra" maxlength="10"> <br> <br>
    <label for="">Precio de Venta</label>
    <input type="decimal" name="precio de venta" id="precioventa" maxlength="10"> <br> <br>
    <label for="">Punto de pedido</label>
    <input type="decimal" id="puntopedido" name="punto de pedido" maxlength="3"> <br> <br>
    <label for="">Marca</label>
    <select name="marca" id="marca">Marca</select> <br> <br>
    <label for="">Proveedor</label>
    <select name="proveedor" id="proveedor" >
        <option value="">Seleccione...</option>
        {{#each lista}}
            <option value="{{this.id}}">{{this.nombre}}</option>
        {{/each}}
    </select> <br> <br>
    <label for="">Categoría</label>
    <select name="categoria" id="categoria">
        <option value="">Seleccione...</option>
        {{#each categorias}}
            <option value="{{this.id}}">{{this.nombre}}</option>
        {{/each}}
    </select> <br> <br>
</form>



<button onclick="confirmar()">Confimar</button>
<button onclick="cancelar()">Cancelar</button>

<script type="text/javascript">
    function confirmar(){
        let data = {
            "descripcion" : document.getElementById("descripcion").value,
            "preciodecompra" : document.getElementById("preciocompra").value,
            "preciodeventa" : document.getElementById("precioventa").value,
            "puntopedido" : document.getElementById("puntopedido").value,
            "marca" : document.getElementById("marca").value,
            "proveedor" : document.getElementById("proveedor").value==''?null:document.getElementById("proveedor").value,
            "categoria" : document.getElementById("categoria").value==''?null:document.getElementById("categoria").value
        }
    
        fetch( '/productos/save', {
            method: 'post',
            headers: {'content-type': 'application/json'},
            body: JSON.stringify(data)
        }).then(async response => {
            if (!response.ok) {
                let err = await response.text();
                throw new Error(err);
            }
            return response.json();
        })

        .then(resp => {
            alert("El producto ha sido dado de alta con el id" + resp._id)
            setTimeout(function(){
                window.location = '/productos';
            }, 3500)
        })

        .catch((error) => {
            alert(error.message)
        });
    }

    function cancelar(){
        window.location = "/productos";
    }

    function CargarSelects(){
        
    }

</script>